.event-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.column h2 {
  text-align: center;
}

.events {
  list-style-type: none;
  padding: 0;
}

.events li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.event-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-info {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.event-info {
  flex: 1; 
  margin-bottom: 10px;
}

.event-link {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.event-link:hover {
  color: #007bff;
}

