.container {
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
}

.friend-list {
  margin-top: 10px;
}

.friend-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.friend-item input[type="checkbox"] {
  margin-right: 10px;
}

.friend-item label {
  font-size: 16px;
}

.friend-item img {
  width: 50px; /* Adjust the width of the photo */
  height: 50px; /* Adjust the height of the photo */
  border-radius: 50%; /* Makes the photo circular */
  margin-left: 10px;
}

.button {
  color: #fff;
  cursor: pointer;
  border: none; 
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

